#title {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn.btn-primary.btn-lg.px-4.me-md-2 {
    background-color: white;
    color: black;
    border: solid white 2px;
}

.btn.btn-primary.btn-lg.px-4.me-md-2:hover {
    background-color: lightgray;
    border: solid lightgray 2px;
}

.btn.btn-outline-secondary.btn-lg.px-4 {
    color: white;
    border: solid white 2px;
}

.btn.btn-outline-secondary.btn-lg.px-4:hover {
    color: black;
    background-color: white;
}

.profile-img.mt-5 {
    border-radius: 50%;
}

#pricing {
    margin: 30px;
}

.w-100.btn.btn-lg.btn-outline-primary {
    color: black;
    border: solid black 2px;
}

.w-100.btn.btn-lg.btn-outline-primary:hover {
    color: white;
    background-color: black;
}

.w-100.btn.btn-lg.btn-primary {
    color: white;
    background-color: black;
    border: solid black 2px;
}

.w-100.btn.btn-lg.btn-primary:hover {
    background-color: rgb(34, 33, 33);
}

#footer {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}


.d-block.mx-lg-auto.img-fluid {
    border-radius: 10px;
}